body{
    text-align: center;
}
div{
    border: 5px solid purple; width: 450px;height: 200px;
    background-image: linear-gradient(pink,red);
    width: 50%;
    margin: auto;
    margin-right: auto;

}
